html {
	height: 100%;
}

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #252527;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

img {
	margin: 1%;
}

#en-tete {
	color: #FFF;
/*	background: #C01369;
*/	text-align: left;
	padding: 1%;
	margin-top: 2%;
}

header ul {
	list-style: none;
	display: flex;
}

header ul li a img {
	width: 10%;
}

h1 {
	font-size: 30pt;
}

h3 {
	text-align: left;
}

#main {
	position: relative;
	width: 60%;
	float: right;
	display: inline-block;
}

#main ul li {
	list-style-type: square;
}

.titres {
	text-align: center;
	font-size: 30pt;
	font-variant: small-caps;
	margin-bottom: 20px;
}

.category {
	margin-top: 4%;
	margin-bottom: 4%;
	margin-right: 20%;
	padding: 2%;
/*	margin: 50px 100px 50px 50px;
	padding: 10px 10px 20px 10px; */
	background: #7ACCBF;
	box-shadow: 8px 8px 12px #aaa;
}

.category ul li {
	padding: 1%;
}

.first {
	font-weight: bold;
}

.second {
	font-style: italic;
}

#dev {
	display: inline-block;
}

#transv {
	display: inline-block;
}

#comp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#sidebar {
	float: left;
	position: relative;
	background: #7ACCBF;
	padding-bottom: 100%;
	padding-top: 1%;
	box-shadow: 8px 8px 12px #aaa;
	height: 100%;
}

.divers {
	border: 2px solid;
	border-color: #FFF;
	margin: 15px;
	padding: 10px;
	background: #FFF;
}

#info_loisirs {
	padding: 2%;
}

#info {	
	padding: 2%;
}

#loisirs {
	padding: 2%;
}

#loisirs ul li {
	list-style-type: square;
}

#mail {
	padding-right: 10px;
}

#tel {
	padding-right: 14px;
	padding-left: 4px;
}

#home {
	padding-right: 10px;
}

#car {
	padding-right: 10px;
}

#age {
	padding-right: 12px;
	padding-left: 4px;
}

footer {
	clear: both;
	background: #333333;
	height: 1%;
	position: relative;
	text-align: center;
	color: #FFF;
}

.clear {
	clear: both;
}
